@{
    ViewData["Title"] = "Home Page";

}


<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/glance-slab-test" rel="stylesheet">
    <style>


        body {
            color: white;
            font-family: 'Glance Slab Test', sans-serif;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <center>
        <span style="font-size: 36px;">
            <span style="color:mediumvioletred;">T巴L∑påtHiC</span>
            <span style="color:limegreen;">pSyCHo</span>
            <span style="color:violet;">åsiåN</span>
            <span style="color:deepskyblue;">wåiƒu</span>
            <span style="color:indianred;">ßu∂∂hisT</span>
            <span style="color:lightpink;">ƒ∑D巴råtiOn</span>
        </span>
        <br />
        <br />


        <span style="font-size: 32px;">
            <a href="https://opencollective.com/waifuworks-llc">WaifuWorks LLC</a>
            <br />
            <a href="https://opencollective.com/clusterflux-llc">
                Clusterflux LLC
            </a>
            <br />
            <a href="https://opencollective.com/data-department-depot-llc">
                Data Department Depot LLC
            </a>
            <br />
        </span>
        <hr style="width:75%;height:5px;border-width:0;color:white;background-color:white">
    </center>
    <br>
    <br>

    Here is the (-  -) zzz era fan club
    t-shirt. Get the merch that proves
    you heard of her 1st. A cotton tee
    that can be made in several colors.
    The back swears allegiance to the
    queen and the front depicts the
    virtual reality character you embody
    every time you put the shirt on.
    <a href="Payment1">$112.35</a> flat rate, regardless of
    geographic location.

    <br />
    <br />
    <center>
        <div>
            <img id="(シ )シ" alt="(シ )シpng" src="@Url.Content("~/(シ )シ.png")" height="500" ; width="550">
        
            <img id="(シ )シ2" alt="(シ )シ2.png" src="@Url.Content("~/(シ )シ2.png")" height="500" ; width="550">
        </div>
    </center>
    <br />
    <br />




    You are purchasing a t-shirt for yourself or someone else. A
    maximum of 3. It is a WaifuWorks LLC design outsourced by
    another company. It costs less to make than $100. But it uses
    my original artwork and I have to pay to ship it so I have decided
    on $100 as the total cost for the "piece". If you don't agree with
    the pricing just don't buy the apparel. If you want to purchase it
    please include an email to our email address (on the <a href="contact.html">contact page</a>)
    giving your preferred name, postal address, t-shirt size, and at
    least 3 prefered colors (the site is weird about availble colors).
    Transactions have the security of Paypal. I will store your name and
    address on a removeable thumb drive until I have shipped the
    materials, then I will delete it (unless you want it to be publicly
    noted within the "books" of WaifuWorks LLC as an angel investor).
    Telepathic psycho asian waifus, aliens, and various homosexual
    Anonymous hackers will know that you bought this and probably
    make fun of you. All sales are final.


</body>
</html>
