@{
    ViewData["Title"] = "Home Page";

}


<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/glance-slab-test" rel="stylesheet">
    <style>


        body {
            color: white;
            font-family: 'Glance Slab Test', sans-serif;
            font-size: 30px;
        }
    </style>
</head>
<body>

    <center>
        <span style="font-size: 36px;">
            <span style="color:mediumvioletred;">T巴L∑påtHiC</span>
            <span style="color:limegreen;">pSyCHo</span>
            <span style="color:violet;">åsiåN</span>
            <span style="color:deepskyblue;">wåiƒu</span>
            <span style="color:indianred;">ßu∂∂hisT</span>
            <span style="color:lightpink;">ƒ∑D巴råtiOn</span>
        </span>
        <br />
        <br />


        <span style="font-size: 32px;">
            <a href="https://opencollective.com/waifuworks-llc">WaifuWorks LLC</a>
            <br />
            <a href="https://opencollective.com/clusterflux-llc">
                Clusterflux LLC
            </a>
            <br />
            <a href="https://opencollective.com/data-department-depot-llc">
                Data Department Depot LLC
            </a>
            <br />
        </span>
        <hr style="width:75%;height:5px;border-width:0;color:white;background-color:white">
    </center>
    <br>
    <br>

    My last attempt and making my art
    accessible to someone who never
    asked to buy my art in the place.
    3 of my digital prints have been
    printed to paper and framed to be
    hung. One can buy individual pieces
    at regular price or buy all 3 for a
    package deal. Individual pieces cost
    <a href="Payment1">$314.16</a> each. 3 all together will cost
    <a href="Payment1">
        $824.62
    </a> for a savings of about $75.

    <br />
    <br />
    <center>
        <div>
            <img id="ヽ༼ ಠ益ಠ ༽ﾉ .png" alt="ヽ༼ ಠ益ಠ ༽ﾉ .png" src="@Url.Content("~/ヽ༼ ಠ益ಠ ༽ﾉ .png")" height="500" ; width="550">

            <img id="Ænima.png" alt="Ænima.png" src="@Url.Content("~/Ænima.png")" height="500" ; width="550">
        </div>
        <div>
            <img id="ლ(╹◡╹ლ).png" alt="ლ(╹◡╹ლ).png" src="@Url.Content("~/ლ(╹◡╹ლ).png")" height="500" ; width="550">
        </div>
    </center>
    <br />
    <br />


    You are purchasing 1, 2, or 3 IRL pieces. It is a WaifuWorks
    LLC design outsourced by another company. Each 1 costs less
    to make than $300. But it uses my original artwork and I have
    to pay to ship it and for an excessive amount of ink so I have
    decided on $300 as the total cost for each "piece". If you
    don't agree with the pricing just don't buy the art. If you
    want to purchase it please include an email to our email
    address (on the <a href="contact.html">contact page</a>) giving your preferred name,
    physical mailing address, and any special handling/shipping
    instructions for the packages. I will store your name and
    address on a removeable thumb drive until I have shipped the
    materials, then I will delete it (unless you want it to be
    publicly noted within the "books" of WaifuWorks LLC as an
    angel investor). Telepathic psycho asian waifus, aliens,
    and various homosexual Anonymous hackers will know that
    you bought this and probably make fun of you. All sales
    are final.


</body>
</html>