@{
    ViewData["Title"] = "Home Page";

}



<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/glance-slab-test" rel="stylesheet">
    <style>


        body {
            color: white;
            font-family: 'Glance Slab Test', sans-serif;
            font-size: 30px;
        }
    </style>
</head>
<body>

    <center>
        <span style="font-size: 36px;">
            <span style="color:mediumvioletred;">T巴L∑påtHiC</span>
            <span style="color:limegreen;">pSyCHo</span>
            <span style="color:violet;">åsiåN</span>
            <span style="color:deepskyblue;">wåiƒu</span>
            <span style="color:indianred;">ßu∂∂hisT</span>
            <span style="color:lightpink;">ƒ∑D巴råtiOn</span>
        </span>
        <br />
        <br />


        <span style="font-size: 32px;">
            <a href="https://opencollective.com/waifuworks-llc">WaifuWorks LLC</a>
            <br />
            <a href="https://opencollective.com/clusterflux-llc">
                Clusterflux LLC
            </a>
            <br />
            <a href="https://opencollective.com/data-department-depot-llc">
                Data Department Depot LLC
            </a>
            <br />
        </span>
        <hr style="width:75%;height:5px;border-width:0;color:white;background-color:white">
    </center>
    <br>
    <br>



    <br>
    <h1 style="text-align:center;">
        <span style="font-size: 38px;">
            
                (ノ^-^)ノ ⌒ ●~●~●~●~   t( -_- t ) t( -_- t ) t( -_- t )
                <br>
                <br>(-  -) zzz
                <br>
                <br>ᕙ༼◕◕༽ᕤ
                <br>
                <br>o-[·o·]-o尸
                <br>
                <br>☆(^o^)乂(^-^)☆
                <br>
                <br>┬─┬ノ( º ºノ)
           
        </span>
    </h1>
    <br>
    <br>
    <br>


</body>

</html>