
    <!DOCTYPE html>
        <html lang="en">
        <head>
            <style>
                a:link {
                    color: orange;
                    background-color: transparent;
                }

                a:visited {
                    color: orange;
                    background-color: transparent;
                }

                a:active {
                    color: orange;
                    background-color: transparent;
                }

                a:hover {
                    color: lightpink !important;
                    background-color: transparent;
                }
            </style>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - Tpåwßƒ</title>

            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


            <link rel="stylesheet" href="~/Tpåwßƒ.styles.css" asp-append-version="true" />

           


        </head>
                    <body class="bg-dark">

                <header>

                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">

                        <div class="container-fluid">

                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Tpåwßƒ"><span style="color:darkred;"><span style="font-size: 32px;">Tpåwßƒ</span></span></a>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">

                                <span class="navbar-toggler-icon"></span>

                            </button>
                            <div class="container">
                                <span style="font-size: 20px;">
                              <a asp-area="" asp-controller="Home" asp-action="Privacy">pøLiC¥</a>  -  <a asp-area="" asp-controller="Home" asp-action="Index">InT巴nt</a>  -  <a asp-area="" asp-controller="Home" asp-action="Patch">påTcH</a>  -  <a asp-area="" asp-controller="Home" asp-action="Hat">Håt</a>  -  <a asp-area="" asp-controller="Home" asp-action="Ashirt">åShirT</a>  -  <a asp-area="" asp-controller="Home" asp-action="Bshirt">ShirT</a>  -  <a asp-area="" asp-controller="Home" asp-action="Rank">RåNk</a>  -  <a asp-area="" asp-controller="Home" asp-action="VRPortfolio">¥RpøRtƒøLIø</a>  -  <a asp-area="" asp-controller="Home" asp-action="IRLPortfolio">IRLpøRtƒøLIø</a>  -  <a asp-area="" asp-controller="Home" asp-action="Contact">cøNtåCT</a>
                            </div></span>


                           </div>

</nav>
                </header>
                <div class="container">
                    <main role="main" class="pb-3">
                        
                            @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-light">

                    
                        <span style="font-size: 18px;">
                            &copy; 2023 - Tpåwßƒ - <a href="Privacy">pøLiC¥</a> - <a href="https://drive.google.com/file/d/1obejIQ1Dv4v-Omz8YF3IQdcFuzw8vTu7/view?usp=sharing">巴bøøK</a> - <a href="https://soundcloud.com/user-97895798">∂iscoGråPh¥</a> - <a href="https://www.youtube.com/playlist?list=PLxneckETjEDBPwM2vDXu2CxzMEneio2-n">pLåyLisT</a> - <a href="https://soundcloud.com/user-388300348">∑p</a> - <a href="https://www.deviantart.com/shindodong">∂巴viåntåRT</a> - <a href="https://discord.gg/vRfhS7aBkP">∂isCør∂</a> - <a href="https://www.paypal.me/tripbranch">PåypåL.m巴</a> - <a href="https://linktr.ee/saisonxiang">LiNkTr.巴∑</a> - <a href="https://patreon.com/waifuworks">PåTr巴oN</a>
                        </span>
                   
                    
                </footer>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </body>
</html>


